@use "./partials/breakpoints" as*;
@use "./partials/colors" as*;

.container {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    gap: 2rem;

    @include tablet {
        max-width: 80rem;
        margin: 2rem auto;
        flex-direction: row;
        justify-content: space-around;
    }

    @include desktop {
        justify-content: space-between;
    }
}


.image {
    object-fit: contain;
    width: 100%;
    height: 100%;

    &_box {
        @include tablet {
            flex-basis: 50%;
        }

        @include desktop {
            flex-basis: auto;
        }
    }
}

.cta {
    max-width: 15rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: $darkest;
    color: $pale;
    padding: .5rem .8rem;
    text-align: center;

    @include tablet {
        font-size: 1.5rem;
    }

    &_main {
        background-color: $pale;
        border: 1px solid $darkest;
        color: $darkest;
    }
}

.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;

    @include tablet {
        flex-direction: column;
    }
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @include tablet {
        flex-basis: 50%;
    }

    @include desktop {
        flex-basis: auto;
    }
}

.greeting {
    font-size: 1.25rem;
    font-weight: 300;

    &_description {
        font-size: 1rem;
    }
}