@use "./partials/breakpoints" as*;
@use "./partials/colors" as*;

.main {
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 1.5rem;
    }

    @include desktop {
        max-width: 80rem;
        margin: 0 auto;
    }
}