@use "./partials/breakpoints" as*;
@use "./partials/colors" as*;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        max-width: 80rem;
        margin: 2rem auto;
        gap: 2rem;
    }

    @include desktop {
        gap: 4rem;

    }
}

.button {
    margin: 1rem auto;
    background-color: $darkest;
    color: $pale;
    max-width: 15rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding: .8rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.img_input {
    width: 0;
    height: 0;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
        width: 100%;
    }
}

.preview {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_box {
    width: 240px;
    height: 240px;
    position: relative;
    margin: 0 auto;

}

.image {
    object-fit: contain;
}

.remove {
    background-color: $darkest;
    color: $pale;
    font-size: .8rem;
    border-radius: 2rem;
    padding: .4rem .8rem;
    text-align: center;
    font-family: inherit;
    border: none;
    margin: .5rem 0;
    max-width: fit-content;
}

.word {
    padding: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    color: inherit;
    font-family: inherit;
    text-align: center;
    border: 1px solid black;
}

.instructions {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    flex-basis: 80%;
    margin: 2rem 0 1rem 0;

    @include tablet {
        font-size: 1.25rem;
    }
}

.next {
    background-color: $light;
    color: $darkest;
    align-self: flex-end;
    margin: 1rem 1rem 1rem auto;
    width: 15rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding: .8rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &::after {
        content: " >>";
        font-weight: bold;
        margin-left: 2rem;
    }

    &:hover {
        background-color: $darkest;
        color: $pale;
    }
}