@use "../../fonts/fonts";

.large-flashcards {
    background-color: white;
    font-size: 48px;
    color: black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    &__image {
        max-width: 80%;
        max-height: 80%;
    }
    &__vocabulary {
        font-family: "Print Regular", sans-serif;
        transform: rotate(-180deg);
        margin: 16px;
        text-align: center;
    }
  }