.template4 {
    color: black;
    background-color: white;
    height: 49.5mm;
    width: 210mm;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 52.5mm 157.5mm;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    &__left {
        width: 80%;
    }

    &__right {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        justify-self: start;
    }
    &__image {
        max-height: 30mm;
        max-width: 40mm;
    }
  
    &__vocabulary {
        font-family: "Print Lined", sans-serif;
        font-size: 1.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        margin: 0;
    }
  }