@font-face {
    font-family: "Print Arrow";
    src: url("./font-files/TeachingPrintArrow.woff2") format("woff2"),
         url("./font-files/TeachingPrintArrow.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Arrow Dash";
    src: url("./font-files/TeachingPrintArrowDash.woff2") format("woff2"),
         url("./font-files/TeachingPrintArrowDash.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Arrow Dash Line";
    src: url("./font-files/TeachingPrintArrowDashLine.woff2") format("woff2"),
         url("./font-files/TeachingPrintArrowDashLine.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Arrow Dot";
    src: url("./font-files/TeachingPrintArrowDot.woff2") format("woff2"),
         url("./font-files/TeachingPrintArrowDot.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Arrow Dot Line";
    src: url("./font-files/TeachingPrintArrowDotLine.woff2") format("woff2"),
         url("./font-files/TeachingPrintArrowDotLine.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Arrow Line";
    src: url("./font-files/TeachingPrintArrowLine.woff2") format("woff2"),
         url("./font-files/TeachingPrintArrowLine.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Dashed";
    src: url("./font-files/TeachingPrintDashed.woff2") format("woff2"),
         url("./font-files/TeachingPrintDashed.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Dashed Line";
    src: url("./font-files/TeachingPrintDashedLined.woff2") format("woff2"),
         url("./font-files/TeachingPrintDashedLined.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Dotted";
    src: url("./font-files/TeachingPrintDotted.woff2") format("woff2"),
         url("./font-files/TeachingPrintDotted.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Dotted Lined";
    src: url("./font-files/TeachingPrintDottedLined.woff2") format("woff2"),
         url("./font-files/TeachingPrintDottedLined.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Lined";
    src: url("./font-files/TeachingPrintLined.woff2") format("woff2"),
         url("./font-files/TeachingPrintLined.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Print Regular";
    src: url("./font-files/TeachingPrintRegular.woff2") format("woff2"),
         url("./font-files/TeachingPrintRegular.woff") format("woff");
    font-weight: 400;
}