.template1 {
    height: 297mm;
    width: 210mm;
    font-size: 4rem;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__top {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bottom {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        height: 130mm;
    }
    &__divider {
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        height: 0;

    }
    &__vocabulary {
        font-family: "Print Regular", sans-serif;
        transform: rotate(-180deg);
    }
}
