@use "../../fonts/fonts";

.template1-preview {
    font-size: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 210px;
    grid-template-rows: 148.5px 148.5px;
    background-color: white;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }
    &__image {
        max-width: 190px;
        max-height: 135px;
    }
    &__vocabulary {
        font-family: "Print Regular", sans-serif;
        transform: rotate(-180deg);
        margin: 0;
    }
  }