@use "../../fonts/fonts";

.template1 {
    font-size: 3rem;
    color: black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 210mm;
    grid-template-rows: 148.5mm 148.5mm;
    background-color: white;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }
    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }
    &__image {
        max-width: 190mm;
        max-height: 135mm;
    }
    &__vocabulary {
        font-family: "Print Regular", sans-serif;
        transform: rotate(-180deg);
        margin: 0;
    }
  }