@use "../../partials/breakpoints"as*;
@use "../../partials/colors"as*;

.upload {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 2rem -.5rem $darkest;
    @include tablet {
        padding: 2rem;
        margin: 2rem;
    }
    @include desktop {
        padding: 2rem;
        margin: 0 auto;
        max-width: 40rem;
    }
    &__bottom{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        flex-wrap: wrap;
    }
    &__inputs {
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }
    &__text-label {
        padding: .5rem 0;
        flex-grow: 1;
        font-family: filmotype-austin,sans-serif;
        font-weight: 400;  
        font-size: 1rem;
        display: flex;
        @include tablet {
            flex-direction: row;
            font-size: 1.5rem;
            align-items: center;
        }
    }
    &__text-input {
        font-family: Print Regular, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        padding: .5rem;
        text-align: center;
        border: none;
        border-bottom: 2px solid $darkest;
        background-color: transparent;
        flex-grow: 1;
        margin-left: 1rem;
        @include tablet {
            margin: 0 1.5rem;
            font-size: 1.5rem;
        }
        &:focus {
            // outline-color: transparent;
            outline: none;
        }
        &:active {
            // outline-color: transparent;
            outline: none;
        }
    }
    &__image-input{
        width: 0;
        height: 0;
        &::-webkit-file-upload-button {
            visibility: hidden;
          }
    }
    &__image-label {
        font-family: filmotype-austin,sans-serif;
        font-weight: 400;  
        font-size: 1rem;
        text-decoration: underline;
        border: 1px solid $darkest;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 30%;
        padding: 1rem .4rem 1rem 1rem;
    }
    &__file-name {
        display: inline-block;
        margin-left: 2rem;
        @include tablet {
            margin-left: 5rem;
        }
    }
    &__custom-image-input {
        width: 80%;
        margin: 0 auto;
    }
    &__label {
        margin: 0;
        font-family: filmotype-austin,sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 1.5rem;
        cursor: pointer;
        @include tablet {
            font-size: 1.75rem;
        }     
    }
    &__submit {
        height: 2rem;
        border-radius: 2.1875rem;
        border: none;
        background-image: url("../../assets/svg/add-icon.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-color: transparent;
        width: 2rem;
        margin: 0 0 0 1rem ;
        color: transparent;
        cursor: pointer;
        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }
    
    &__error {
        font-family: filmotype-austin,sans-serif;
        font-size: 1.2rem;
        margin: 0 auto;
        color: $darkest;
        width: 100%;
        margin-top: 1rem;
    }
}