@use "../../partials/breakpoints" as *;
@use "../../partials/colors"as*;

.so-far {
  padding: 1rem;
  color: $darkest;
  background-color: $medium;
  // box-shadow: inset 0 0 2rem -0.5rem #e6f6fc;
  // box-shadow: 0 0 2rem -.5rem $darkest;
  border-bottom-right-radius: 2.1875rem;
  border-bottom-left-radius: 2.1875rem;
  @include tablet {
    padding: 2rem;
    margin: 1rem;
}
  @include desktop {
    max-width: 40rem;
    margin: 1rem auto;
  }
  &__title {
    margin: 1rem 0;
    color: $darkest;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__item {
    width: 47%;
    background-color: white;
    padding: 1rem;
    display: flex;
  }
  &__card {
    background-color: white;
    text-align: center;
    padding-right: 1rem;
  }
  &__image {
    width: 70%;
    margin-bottom: 1rem;
  }
  &__remove {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background-image: url("../../assets/svg/remove-icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    color: transparent;
    cursor: pointer;
    position: relative;
    top: -1.5rem;
    left: -1.5rem;
  }
}
