@use "../../partials/breakpoints" as *;

.so-far {
  margin: 1rem ;
  padding: 1rem;
  color: #29369D;
  // border-radius: 2.1875rem;
  // background-color: rgba(47, 167, 224, 1) ;
  background-color: rgba(166,248,255,1);
  box-shadow: inset 0 0 2rem -0.5rem #e6f6fc;
  @include tablet {
    padding: 2rem;
    margin: 1rem;
}
  @include desktop {
    max-width: 40rem;
    margin: 1rem auto;
  }
  &__title {
    margin: 1rem 0;
    color: #29369D;
  }
  &__list {
    justify-self: center;
    list-style: none;
    padding: 0;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
  }
  &__record {
    font-size: 1rem;
    margin-right: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__remove {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background-image: url("../../assets/svg/remove-icon.svg");
    background-repeat: no-repeat;
    justify-self: center;
    color: transparent;
    cursor: pointer;
  }
}
