@use "../../partials/breakpoints"as*;

.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    @include tablet {
        padding: 2rem;
    }
    @include desktop {
        margin: 0 auto;
        max-width: 63.75rem;
    }
    &__pdfs {
        font-size: 1.5rem;
        text-decoration: none;
        margin: 1rem 0;
    }
}