@use "../../partials/breakpoints" as *;

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    70% {
        transform: scale(1.2);
      opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
      }
  }

.select {
    @include desktop {
        max-width: 63.75rem;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        margin: 2rem auto;
    }
    &__animated {
       animation: scale-in-center 1s linear both;
    }
}

