@use "../../partials/breakpoints" as *;
@use "../../partials/colors" as *;


.select {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
    margin: 1rem;
  }
  @include desktop {
    max-width: 40rem;
    margin: 1rem auto;
  }
    &__title {
        text-align: center;
        margin: 1rem auto;
    }
    &__upload {
      padding: 1rem;
    }
    &__list {
      background-color: $darkest;
      padding: .5rem 1rem;
      font-family: filmotype-austin,sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 1.5rem;
      color: $pale;
      border: none;
      width: 100%;
      cursor: pointer;
    }
    &__visibility {
      height: 1.5rem;
      width: 1.5rem;
      margin-left: .5rem;
      transform: translateY(.3rem);
    }
}

