.template3 {
    background-color: white;
    height: 148.5mm;
    width: 105mm;
    font-size: 1.25rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    &__top {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bottom {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        max-height: 60mm;
        max-width: 90mm;
    }
    &__divider {
        height: 0;
        border-top: 1px solid black;
        width: 100%;
    }
    &__vocabulary {
        font-family: "Print Regular", sans-serif;
        transform: rotate(-180deg);
    }
  }