@use "../../partials/breakpoints"as*;
@use "../../partials/colors"as*;
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5);
              transform: translateY(-1000px) scaleY(2.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5);
              transform: translateY(-1000px) scaleY(2.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1);
              transform: translateY(0) scaleY(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

.nav {
    background-color: $light;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    padding: 5rem 1rem 1rem 1rem;
    border-bottom-left-radius: 2.1875rem;
    border-bottom-right-radius: 2.1875rem;
    -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    @include desktop {
        position: static;
        padding: 1rem;
        animation: none;
        border-radius: 0;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        @include desktop {
                justify-content: flex-end;
                padding-right: 2rem;
                gap: 2rem;
        }
    }
    &__item {
        padding: 0;
    }
    &__link {
        text-decoration: none;
        display: inline-block;
        text-align: right;
        font-size: 1.25rem;
        border: none;
        font-family: filmotype-austin, sans-serif;
        color: $darkest;
        background-color: $pale;
        padding: 1rem 2rem;
        margin: 1rem 0;
        @include desktop {
                margin: 0;
        }
    }
}