*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Print Regular,sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(166,248,255,1) 0%, rgba(47,167,224,1) 100%);
}
h1 {
  font-family: Delaney ,sans-serif;
  font-weight: 800;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
