@use "./partials/breakpoints"as*;
@use "./partials/colors"as*;

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: filmotype-austin,sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #29369D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
  //background: linear-gradient(180deg, rgba(166,248,255,1) 0%, rgba(47,167,224,1) 100%);
  background-attachment: fixed;
  min-height: 100vh;
}
h1 {
  font-size: 1.5rem;
  font-family: filmotype-austin,sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  @include tablet {
    font-size: 2rem;
  }
}
h2 {
  margin: 0;
  font-family: filmotype-austin,sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.25rem;
  @include tablet {
    font-size: 1.75rem;
  }
}
h3 {
  margin: 0;
  color:#29369D;
  font-family: filmotype-austin,sans-serif;
  font-size: 1rem;
  @include tablet {
    font-size: 1.5rem;
  }
}

