.small-flashcards-template {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    &__top {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bottom {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        max-height: 80%;
        max-width: 80%;
    }
    &__divider {
        height: 0;
        border-top: 1px solid black;
        width: 100%;
    }
    &__vocabulary {
        font-family: "Print Regular", sans-serif;
        transform: rotate(-180deg);
        margin: 1rem;
        text-align: center;
    }
  }