.template6 {
    color: black;
    background-color: white;
    height: 74.25mm;
    width: 70mm;
    border: 1px solid black;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &__image {
        max-height: 50mm;
        max-width: 50mm;
    }
    &__vocabulary {
        margin: .5rem;
        font-family: "Print Regular", sans-serif;
        text-align: center;
        font-size: 1rem;
    }
  }